<div class="container">
  <div *ngIf="popularMovies.length > 0">
    <div class="popular-container">
      <div class="popular" *ngFor="let movie of popularMovies">
        <a routerLink="/details/{{movie.id}}"><img src="{{movie.backdrop_path}}" alt="{{movie.original_title}}"></a>
        <p id="title"><a routerLink="/details/{{movie.id}}">{{movie.original_title}}</a></p>
        <p><span>Nota:</span> {{movie.vote_average}}</p>
        <p><span>Data:</span> {{movie.release_date}}</p>
      </div>
    </div>
  </div>
</div>