// @import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.home-container h3 {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  margin-left: 10.5em;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%;
}

.search-container form {
  display: flex;
  width: 60%;
  position: relative;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-container input {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

.search-container button {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

.container {
  max-width: 100%;
}

.popular-container {
  display: flex;
  max-width: 85%;
  margin: 0 auto;
  overflow-x: scroll;
}

.popular {
  width: 25%;
  margin-bottom: 1em;
  text-align: center;
}

.images {
  width: 200px;
}

.popular a {
  text-decoration: underline;
}

.popular span,
a {
  font-weight: bold;
}


.popular:hover {
  box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.1);
}

.popular img {
  width: 70%;
  margin-bottom: 1em;
  border-radius: 5px;
}

.popular h3 {
  margin-bottom: 1em;
}